.explore-online {
  &__products {
    display: grid;
    gap: 48px;

    @include ontablet {
      justify-items: center;
    }

    @include ondesktop {
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      align-items: start;
    }
  }
}

.products {
  width: 100%;
  max-width: 324px;

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 24px;
  }

  &__title {
    margin: 0 0 8px;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    text-align: center;
    color: $content-text-color;
  }

  &__description {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
  }
}
