.footer {
  min-width: 320px;
  position: sticky;
  z-index: -1;
  height: 180px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include ontablet {
    height: 359px;
    background-size: cover;
  }
}
