.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  flex-shrink: 0;

  @include hover(transform, scale(1.2));

  @include ontablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
  background-image: url(/src/images/Icons/Icon-Phone-call.svg);
}

  &--menu {
    background-image: url(/src/images/Icons/menu.svg);

    &:hover {
      background-image: url(/src/images/Icons/Icon-Burger-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/src/images/Icons/close.svg);
  }
}


.phone-dropdown {
  position: relative;
  &__button {
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(/src/images/Icons/Icon-Phone-call.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    @include ontablet {
      width: 32px;
      height: 32px;
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 16px;
    min-width: 220px;
    padding: 12px 0;
    background-color: transparent; // або прозорий фон
    text-align: right;
    white-space: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }

  &:focus-within &__list {
    display: block;
  }

}

.phone-dropdown__item strong {
  display: block;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  color: #fff;

}

.phone-dropdown__item a {
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none; // прибирає підкреслення
  color: #fff; // білий текст
}
