.main {
  display: grid;
  row-gap: 100px;
  padding-block: 100px;

  @include contentpaddinginline;

  @include ontablet {
    row-gap: 120px;
    padding-block: 120px;
  }

  @include ondesktop {
    row-gap: 140px;
    padding-block: 140px;
  }
}

.about-us {
  display: grid;
  gap: 32px;

  @include ontablet {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    align-items: start;
  }

  @include ondesktop {
    grid-template-columns: 1fr 2fr;
    gap: 80px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
