.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  text-transform: uppercase;
  color: $menu-text-color;

  &__top {
    margin-bottom: 32px;
  }

  &__content {
    @include contentpaddinginline;
  }

  &__phone-number {
    display: block;
    margin-bottom: 8px;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-decoration: none;
    color: inherit;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    margin-top: 24px;
    padding-bottom: 7px;
    border-bottom: 1px solid $menu-text-color;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    color: inherit;
  }

  &__nav {
    margin-bottom: 40px;
  }
}
