.now-on-view {
  &__list {
    display: grid;
    gap: 48px;
  }
}

.exhibition {
  &__images {
    display: grid;
    gap: 8px;
    margin-bottom: 24px;


    &--2 {
      grid-template-columns: repeat(2, 1fr);
    }

    &--3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__image {
    display: block;
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url(../../images/Now-on-view/first-image-small.png);
}

    &--1{
     @include ontablet {
      background-image: url(../../images/Now-on-view/first-image.png);
     }
    }
  

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin: 0;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $content-text-color;
  }

  &__date {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px;
  }
}

.card__button {
  display: block;
  width: 100%;
  max-width: 392px;
  height: 56px;
  margin: 40px auto 0;
  border: 1px solid $content-text-color;
  background-color: $content-text-color;
  color: $menu-text-color;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  cursor: pointer;

  &:hover {
    background-color: #ae1c23;
    border-color: #ae1c23;
  }
}
