.now-on-view {
  &__list {
    display: grid;
    row-gap: 40px;

    @include ontablet {
      row-gap: 64px;
    }
  }
}

.exhibition {
  &__images {
    gap: 24px;
    margin-bottom: 16px;


    @include ontablet {
      gap: 24px;
    }

    @include pagegrid;
    &--2 {
     grid-template-columns: repeat(3, 1fr);

      @include ontablet {
       @include pagegrid;
      }
   }

  }

  &__link {

    &--wide {
       @include ontablet {
       grid-column: span 4;
       }

      @include ondesktop {
        grid-column: span 8;
      }
    }
    &--square {
       @include ontablet {
        grid-column: span 2;
      }

      @include ondesktop {
        grid-column: span 4;
      }
    }

    &--3 {
      @include ontablet {
        min-width: 288px;
        min-height: 284px;
      }
    }
    &--none {
    @include ontablet {
      display: none;

       @include ondesktop {
        display: block;
      }
    }
    }
  }

  &__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    margin: 0;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $content-text-color;
  }

  &__date {
    margin: 0;
    font-family: Cinzel, sans-serif;
    font-size: 16px;
    line-height: 27px;
  }
}

.card__button {
  display: block;

  @include hover(transform, scale(1.05));

  width: 100%;
  max-width: 392px;
  height: 56px;
  margin: 40px auto 0;
  border: 1px solid $content-text-color;
  background-color: $content-text-color;
  color: $menu-text-color;
  font-family: Cinzel, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  cursor: pointer;

  &:hover {
    background-color: #ae1c23;
    border-color: #ae1c23;
  }
}

