.schedule {
  color: $main-text-color;

  &__title {
    margin: 0 0 16px;
    font-family: Cinzel, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__open {
    display: inline-block;
    vertical-align: top;
    margin: 0 24px 16px 0;

    &__time {
      font-family: Cinzel, sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
    }

    &__days {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__name {
    margin: 0 0 4px;
    font-family: Cinzel, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
  }

  &__holidays {
    margin: 0 0 32px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 27px;
  }
}
